<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="../processModule.js"></script>
<script type="text/javascript" src="../processEngine.js"></script>

<font color="Black">
    <p style="font-size:200%;">Dashboard</p><p class="lead mb-3">Welcome <%= name %></p></font>
<a href="/users/logout" class="btn btn-danger">Logout</a>
<a href="/tasks/myTasks" class="btn btn-danger">get tasks</a>
