<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="processEngine.js"></script>
<script>

    getHistory();
</script>
<table class="table table-bordered table-striped" id="processTable">
    <tr>
        <td>Step No</td>
        <td>name</td>
        <td>nextStep</td>
        <td>collaborateurs</td>
        <td>state</td>
        <td>condition</td>
        <td>result</td>



    </tr>



</table>
<script>
//getActions(1);
nextStep(1,"documentApprouve");
</script>
<p id="processPar"></p>
<button onclick="getActions(1)">Start Process</button>
<p id="schemaInf"></p>
<p id="userInf"></p>
<p id="currentStep"></p>
<p id="nextStep"></p>
<button onclick="startProcess(1,1,'verifierDocument')">click</button>