<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="processEngine.js"></script>
<a href="/tasks/History" class="btn btn-danger">Historique</a>
<script>
    getTasks(1,1);
</script>
<table class="table table-bordered table-striped" id="processTable">
        <tr>
            <td>Step No</td>
            <td>name</td>
            <td>nextStep</td>
            <td>collaborateurs</td>
            <td>state</td>
            <td>condition</td>
            <td>result</td>
    
    
    
        </tr>
    
    
    
    </table>

